.datatable * {
  font-family: inherit !important;
  color: gray !important;
}

.datatable img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.status {
  padding: 0.2rem 0.8rem;
}

.pending {
  color: var(--danger-color) !important;
  background-color: var(--danger-color-soft);
}

.active {
  color: var(--success-color) !important;
  background-color: var(--success-color-soft);
}

.passive {
  color: var(--warning-color) !important;
  background-color: var(--warning-color-soft);
}
